@page
@model MQTTCloud.Pages.IndexModel

@{
    ViewData["Title"] = "LoRa tracker";
}

<link href="@Url.Content("~/style.css")" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />

<table class="table">
    <thead>
        <tr>
            <th>
                <p>@Html.DisplayNameFor(model => model.Message[0].Time)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Message[0].DevId)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Message[0].Airtime)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Message[0].Latitude)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Message[0].Longitude)</p>
            </th>
            <th>
                <p>Gateway RSSI</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Message)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gateways.First().Rssi)
            </td>
        </tr>
        }
    </tbody>
</table>
